@page
@model BirdTradingPlatformRazorPage.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.cartItems)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img class="img-fluid" style="width: 150px; height: 150px" src="@item.ProductImage" alt="">
                                            <h5 class="mr-4">@item.ProductName</h5>
                                            <h5>( Shop : @item.ShopName )</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            $@item.UnitPrice
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" name="Quantities" value="@item.Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            $@(item.Quantity* item.UnitPrice)
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a class="btn" asp-page="./Index" asp-route-productId="@item.ProductId" asp-page-handler="RemoveItemFromCart">
                                                <i class="fas fa-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a asp-page="/Shop/Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <button type="submit" asp-page-handler="UpdateQuantity" class="primary-btn cart-btn cart-btn-right border-0">
                            <span class="fas fa-circle"></span>
                            Update Cart
                        </button>
                    </div>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>
                                $@(Model.cartItems.Sum(x => x.Quantity * x.UnitPrice))
                            </span></li>
                            <li>Total <span>$@(Model.cartItems.Sum(x => x.Quantity * x.UnitPrice))</span></li>
                        </ul>
                        <a asp-page="/Checkout/Index" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shoping Cart Section End -->
