@page
@model BirdTradingPlatformRazorPage.Pages.Checkout.IndexModel
@{
    ViewData["Title"] = "Checkout";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->

@if(ViewData["Message"]!= null)
{
    <div class="alert alert-success m-2" role="alert">
        @ViewData["Message"]
    </div>
}
@if(ViewData["Error"]!= null)
{
    <div class="alert alert-danger m-2" role="alert">
        @ViewData["Error"]
    </div>
}

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form method="post">
                <div class="checkout__order">
                    <h4>Your Order</h4>
                    <table class="table table-borderless">
                        <thead class="bg-secondary">
                            <tr>
                                <td class="font-weight-bold float-left" style="font-size: 18px; width: 340px">Products</td>
                                <td class="font-weight-bold float-left" style="font-size: 18px">Shop</td>
                                <td class="font-weight-bold float-right" style="font-size: 18px">Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.cartItems)
                            {
                                <tr class="border-0">
                                    <td class="float-left" style="width: 340px">
                                        <span style="width:30px">@item.ProductName</span> x <strong>@item.Quantity</strong>
                                    </td>
                                    <td class="float-left">
                                        <strong>@item.ShopName</strong>
                                    </td>
                                    <td class="float-right"><strong>$@(item.UnitPrice*item.Quantity)</strong></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="checkout__order__subtotal">Subtotal <span>$@(Model.cartItems.Sum(x => x.Quantity * x.UnitPrice))</span></div>
                    <div class="checkout__order__total">Total <span>$@(Model.cartItems.Sum(x => x.Quantity * x.UnitPrice))</span></div>
                    @*<div class="form-check">
                        <input class="form-check-input" type="radio" name="orderType" id="cod" checked>
                        <label class="form-check-label" for="cod">
                            COD
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="orderType" id="momo">
                        <label class="form-check-label" for="momo">
                            MOMO
                        </label>
                    </div>*@
                    <button type="submit" asp-page-handler="CodOrder" class="site-btn">COD</button>
                    <button type="submit" asp-page-handler="MoMoOrder" class="btn btn-primary">MOMO</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
