@page
@model BirdTradingPlatformRazorPage.Pages.ShopManagement.OrderManagement.IndexModel

@{
    ViewData["Title"] = "Order Report";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Order Report</h2>
                    <div class="breadcrumb__option">
                        <span>Home</span>
                        <span>Order Report</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="d-flex flex-row mt-5 mb-5 justify-content-between">
    <div class="w-50"></div>
    <div class="w-50">
        <form method="get">
            <div class="input-group">
                <input type="text" class="form-control mr-2" name="SearchString"
                       placeholder="Search by Order Id" value="" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Total</th>
            <th>PaymentStatus</th>
            <th>Create Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.shopOrderRequestDTOs)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Total</td>
                <td>@item.PaymentStatus</td>
                <td>@item.CreateDate</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.OrderShopId">Details</a> |
                    @if (item.Status.Equals("Shipping"))
                    {
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="@("#exampleModal" + item.OrderId)">
                            Done
                        </button>

                        <div class="modal fade" id="@("exampleModal" + item.OrderId)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to make this order done?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-info"
                                           asp-route-orderId="@item.OrderId"
                                           asp-page-handler="DoneOrder">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
