@page
@model BirdTradingPlatformRazorPage.Pages.ShopManagement.ProductManagement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ProductName</dt>
        <dd class="col-sm-10">@Model.productDTO.ProductName</dd>
        <dt class="col-sm-2">UnitPrice</dt>
        <dd class="col-sm-10">@Model.productDTO.UnitPrice</dd>
        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.productDTO.Quantity</dd>
        <dt class="col-sm-2">Rating</dt>
        <dd class="col-sm-10">@Model.productDTO.Rating</dd>
        <dt class="col-sm-2">CreateDate</dt>
        <dd class="col-sm-10">@Model.productDTO.CreateDate</dd>
        <dt class="col-sm-2">Species</dt>
        <dd class="col-sm-10">@Model.productDTO.Species</dd>
        <dt class="col-sm-2">Age</dt>
        <dd class="col-sm-10">@Model.productDTO.Age</dd>
        <dt class="col-sm-2">Size</dt>
        <dd class="col-sm-10">@Model.productDTO.Size</dd>
        <dt class="col-sm-2">Weight</dt>
        <dd class="col-sm-10">@Model.productDTO.Weight</dd>
        <dt class="col-sm-2">Expiration</dt>
        <dd class="col-sm-10">@Model.productDTO.Expiration</dd>
        <dt class="col-sm-2">MadeIn</dt>
        <dd class="col-sm-10">@Model.productDTO.MadeIn</dd>
        <dt class="col-sm-2">Gender</dt>
        <dd class="col-sm-10">@Model.productDTO.Gender</dd>
        <dt class="col-sm-2">Color</dt>
        <dd class="col-sm-10">@Model.productDTO.Color</dd>
        <dt class="col-sm-2">Material</dt>
        <dd class="col-sm-10">@Model.productDTO.Material</dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.productDTO.Description</dd>
        <dt class="col-sm-2">BrandName</dt>
        <dd class="col-sm-10">@Model.productDTO.BrandName</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.productDTO.Status</dd>
        <dt class="col-sm-2">ProductImage</dt>
        <dd class="col-sm-10">@Model.productDTO.ProductImage</dd>
        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.productDTO.CategoryName</dd>
        <dt class="col-sm-2">Shop</dt>
        <dd class="col-sm-10">@Model.productDTO.ShopName</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="productDTO.ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const alertMessage = urlParams.get('alertMessage');

        if (alertMessage) {
            alert(alertMessage);
        }
    });
</script>