@page
@model BirdTradingPlatformRazorPage.Pages.ShopManagement.ProductManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shop Owner</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop Owner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="d-flex flex-row mt-5 mb-5 justify-content-between">
    <div class="w-50">
        <a class="btn btn-primary" asp-page="Create">Create New</a>
    </div>
    <div class="w-50">
        <form method="get">
            <div class="input-group">
                <input type="text" class="form-control mr-2" asp-for="@Model.SearchString"
                       placeholder="Search by product name" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Category</h4>
                        <ul>
                            <li>
                                <a asp-page="./Index"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="@Model.BirdColor">
                                    All
                                </a>
                            </li>
                            @foreach (var item in Model.Categories)
                            {
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-categoryId="@item.CategoryId"
                                       asp-route-pageIndex="1"
                                       asp-route-minPrice="@Model.MinPrice"
                                       asp-route-maxPrice="@Model.MaxPrice"
                                       asp-route-color="@Model.BirdColor">
                                        @item.CategoryName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <ul>
                            <li>
                                <a asp-page="./Index"
                                   asp-route-minPrice="0"
                                   asp-route-maxPrice="50"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-color="@Model.BirdColor">
                                    $0 - $50
                                </a>
                            </li>
                            <li>
                                <a asp-page="./Index"
                                   asp-route-minPrice="50"
                                   asp-route-maxPrice="100"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-color="@Model.BirdColor">
                                    $50 - $100
                                </a>
                            </li>
                            <li>
                                <a asp-page="./Index"
                                   asp-route-minPrice="100"
                                   asp-route-maxPrice="200"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-color="@Model.BirdColor">
                                    $100 - $200
                                </a>
                            </li>
                            <li>
                                <a asp-page="./Index"
                                   asp-route-minPrice="200"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-color="@Model.BirdColor">
                                    > $200
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="w-100">
                            <div class="order-first">
                                <a asp-page="./Index"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="black" class="btn btn-dark text-white w-25">Black</a>
                                <a asp-page="./Index"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="white" class="btn btn-light w-25">White</a>
                                <a asp-page="./Index"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="red" class="btn btn-danger text-white w-25">Red</a>
                            </div>
                            <div class="order-second mt-3">
                                <a asp-page="./Index"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="yellow" class="btn btn-warning text-white w-25">Yellow</a>
                                <a asp-page="./Index"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="grey" class="btn btn-secondary text-white w-25">Grey</a>
                                <a asp-page="./Index"
                                   asp-route-categoryId="@Model.Category.CategoryId"
                                   asp-route-pageIndex="1"
                                   asp-route-minPrice="@Model.MinPrice"
                                   asp-route-maxPrice="@Model.MaxPrice"
                                   asp-route-color="blue" class="btn btn-primary text-white w-25">Blue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.PaginatedProducts.TotalPages > 0)
            {
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        @foreach (var item in Model.PaginatedProducts)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a asp-page="./Details" asp-route-id="@item.ProductId">
                                        <div class="product__item__pic set-bg" data-setbg="@item.ProductImage"></div>
                                    </a>
                                    <div class="product__item__text">
                                        @*<h5 class="mb-2">Shop Name: @item.ShopName</h5>*@
                                        <h6><a asp-page="./Details" asp-route-id="@item.ProductId">@item.ProductName</a></h6>
                                        <h6 class="mb-2">Category: @item.CategoryName</h6>
                                        <h6 class="mb-2 badge badge-pill @(item.Status == "INACTIVE" ? "badge-secondary" : "badge-success")">@item.Status</h6>
                                        <h5>$ @item.UnitPrice</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @*@{
                var prevDisabled = !Model.PaginatedProducts.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.PaginatedProducts.HasNextPage ? "disabled" : "";
                }*@
                    <div class="product__pagination float-right">
                        @if (Model.PaginatedProducts.HasPreviousPage)
                        {
                            <a asp-page="./Index"
                               asp-route-pageIndex="@(Model.PaginatedProducts.PageIndex-1)"
                               asp-route-categoryId="@Model.Category.CategoryId ?? null"
                               asp-route-minPrice="@Model.MinPrice"
                               asp-route-maxPrice="@Model.MaxPrice"
                               asp-route-color="@Model.BirdColor">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        }
                        else
                        {
                            <a style="color: #b2b2b2; background-color: #e1dfdf">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        }

                        @for (int i = 1; i <= Model.PaginatedProducts.TotalPages; i++)
                        {

                            string c = "";
                            if (Model.PaginatedProducts.PageIndex == i)
                            {
                                c = "selected";
                            }
                            <a class="@c"
                               asp-page="./Index"
                               asp-route-pageIndex="@i"
                               asp-route-categoryId="@Model.Category.CategoryId ?? null"
                               asp-route-minPrice="@Model.MinPrice"
                               asp-route-maxPrice="@Model.MaxPrice"
                               asp-route-color="@Model.BirdColor">@i</a>
                        }

                        @if (Model.PaginatedProducts.HasNextPage)
                        {
                            <a asp-page="./Index"
                               asp-route-pageIndex="@(Model.PaginatedProducts.PageIndex+1)"
                               asp-route-categoryId="@Model.Category.CategoryId ?? null"
                               asp-route-minPrice="@Model.MinPrice"
                               asp-route-maxPrice="@Model.MaxPrice"
                               asp-route-color="@Model.BirdColor">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        }
                        else
                        {
                            <a style="color: #b2b2b2; background-color: #e1dfdf">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        }
                    </div>
                </div>
            }
            @if (Model.PaginatedProducts.TotalPages == 0)
            {
                string url = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIJwk2MGwaOfVlUpQ3rB2IDELzLtr1_gaSM1FSuzgukN1dsbHIR-RI8qxtqVAJesQRwiM&usqp=CAU";
                <div class="col-lg-9 col-md-7">
                    <div class="row justify-content-center align-content-center">
                        <div style="background-image: url(@url); width: 232px; height: 217px;"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const alertMessage = urlParams.get('alertMessage');

        if (alertMessage) {
            alert(alertMessage);
        }
    });
</script>

@*<table class="table table-responsive table-hover" style="width:100%">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>UnitPrice</th>
            <th>Quantity</th>
            <th>Rating</th>
            <th>CreateDate</th>
            <th>Species</th>
            <th>Age</th>
            <th>Size</th>
            <th>Weight</th>
            <th>Expiration</th>
            <th>MadeIn</th>
            <th>Gender</th>
            <th>Color</th>
            <th>Material</th>
            <th>Description</th>
            <th>BrandName</th>
            <th>Status</th>
            <th>ProductImage</th>
            <th>Category</th>
            <th>Shop</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.productDTOs) {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Rating</td>
                <td>@item.CreateDate</td>
                <td>@item.Species</td>
                <td>@item.Age</td>
                <td>@item.Size</td>
                <td>@item.Weight</td>
                <td>@item.Expiration</td>
                <td>@item.MadeIn</td>
                <td>@item.Gender</td>
                <td>@item.Color</td>
                <td>@item.Material</td>
                <td>@item.Description</td>
                <td>@item.BrandName</td>
                <td>@item.Status</td>
                <td>@item.ProductImage</td>
                <td>@item.CategoryName</td>
                <td>@item.ShopName</td>
                <td>
                    <a class="btn btn-primary w-100 mb-2" asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
                    <a class="btn btn-info w-100 mb-2" asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                    <a class="btn btn-danger w-100 mb-2" asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
